.category-all-page {
  .category-all-title {
    text-align: center;
  }

  .category-all {
    margin-top: 20px;
  }

  .category-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .category-list-item {
    margin: 5px 10px;
    border-radius: 5px;
  }
  // a标签 和后面的总数
  .category-list-item .category-list-link,
  .category-list-count{
    font-size: 1.5em;
    border: none;
  }
  .category-list-count {
    color: $grey;

    &::before {
      content: ' (';
      display: inline;
    }

    &::after {
      content: ') ';
      display: inline;
    }
  }
  .category-list-link{
    &:hover{
      color:#008eb9b8;
    }
  }
  .category-list-child {
    padding-left: 10px;
  }
}
