.tag-cloud {
  text-align: center;
  .tag-cloud-tags{
    a:nth-child(n) {
      display: inline-block;
      margin: 10px;
      padding: 0 10px;
      font-weight: 300;
      font-size: 1.5em !important;
      border: 1px solid #d9ecff;
      border-radius: 10px;
      box-sizing: border-box;
      white-space: nowrap;
      background-color: #f0f9eb;
      border-color: #67c23a;
      color: #67c23a !important;
      transition: all 0.5s cubic-bezier(1, 0.68, 0.43, 1.31);; 
      // box-shadow: 0 0 1px 1px #e0e0e0;

      &:hover {
        color: $link-hover-color !important;
        animation: jump 1.5s linear;
        color: #333 !important;
      }
      @keyframes jump {
        0%{
          transform: translateY(-15px)
        }
        100%{
          transform: translateY(0)
        }
      }
    }
    a:nth-child(2n) {
      color: #409eff !important;
      border-color: #409eff;
      background-color: #ecf5ff ;
    }
    a:nth-child(3n) {
      background-color: #fdf6ec;
      border-color:  #e6a23c;
      color: #e6a23c !important;
    }
    a:nth-child(4n) {
      background-color: #fef0f0;
      border-color: #f56c6c;
      color: #f56c6c !important;
    }
  }
}
