// 文章结尾部分
.text {
  text-align: center;
  margin-top: 80px;
  font-size: 0.8rem;  
}

.post-eof {
  background: $grey-light;
  height: 1px;
  margin: 0 auto $post-eof-margin-bottom;
  text-align: center;
  width: 10%;

  .post-block:last-child & {
    display: none;
  }
}
